body {
  margin: auto;
  display: flex;
  width: 40%;
  font-family: "Courier New", Courier, monospace;
}
#console {
  flex-basis: 100%;
  height: 850px;
  margin-top: 20px;
  background-color: #93b7be;
  border: 1px solid black;
  border-radius: 50px;
  position: relative;
}
h1 {
  font-size: 40px;
  color: #785964;
  margin: 30px 20px 20px 50px;
  font-weight: bold;
  text-align: left;
}
.container {
  display: flex;
  flex-wrap: wrap;
  float: left;
  margin: 0px 10px 0 40px;
}
#controlPanel {
  display: block;
  float: right;
  width: 324px;
  height: 730px;
  margin: 0px 40px 20px 10px;
  background-color: #f1fffa;
  text-align: center;
  border-radius: 30px;
}
#status {
  float: none;
  background-color: #d5c7bc;
  min-height: 1px;
  height: 122px;
  display: flex;
  font-size: 25px;
  font-weight: bold;
  border-radius: 10px;
}
#money,
#gems,
#health,
#score {
  text-align: center;
  flex-basis: 35px;
  height: 120px;
  padding: 0 2px;
  border: 0.5px solid black;
}
#money {
  border-radius: 10px 0 0 10px;
}
#score {
  border-radius: 0 10px 10px 0;
}

.statusThumbs {
  border-bottom: 0.5px solid black;
  border-radius: 10px;
}
#descriptions {
  float: none;
  min-height: 1px;
  width: 250px;
  height: 180px;
  padding: 20px;
  font-size: 20px;
  text-align: justify;
  margin: 30px auto;
  background-color: #d5c7bc;
  border-radius: 20px;
}
#buildings {
  float: none;
  min-height: 1px;
  width: 280px;
  margin: 0 auto;
  text-align: left;
}
#build {
  height: 50px;
}

#bottom {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  width: inherit;
  height: 120px;
  margin: 30px 20px 35px 40px;
  float: none;
  min-height: 1px;
  border-radius: 0 0 0 20px;
  background-color: #454545;
}
#display {
  float: none;
  min-height: 1px;
  width: 80%;
  margin: 10px;
  color: #f1fffa;
}
#buttonBox {
  display: block;
  width: 20%;
}
#start,
#pause {
  width: 100%;
  height: 50%;
}
.square {
  height: 50px;
  flex-basis: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #41521f;
  border: 0.5px solid #d5c7bc;
  margin: 0;
  padding: 0;
}
#valley {
  background-color: burlywood;
}
#endPt {
  background-color: burlywood;
}
#startPt {
  background-color: burlywood;
}
.lit {
  background-color: #cc5803;
}
.mob {
  position: absolute;
  display: inline-block;
  float: none;
  min-height: 1px;
  min-width: 1px;
  text-align: center;
}
.enemyHp {
  background-color: lightgreen;
  height: 4px;
  width: 22px;
  float: left;
}
.enemyLostHp {
  background-color: crimson;
  height: 4px;
  width: 0px;
  float: right;
}
.enemySprite {
  background-color: black;
  height: 12px;
  width: 12px;
  border-radius: 6px;
  margin: 8px 0px 0px 5px;
}
#selection {
  background-color: #4056f4;
  border-color: #dd1c1a;
}
.towerRange {
  float: none;
  min-height: 1px;
  border: 1px solid #cc5803;
  position: absolute;
  margin: 0;
  padding: 0;
  pointer-events: none;
}
.projectile {
  position: absolute;
  float: none;
  min-height: 1px;
  height: 7px;
  width: 7px;
  border-radius: 3.5px;
  background-color: black;
}
