body {
  margin: auto;
  display: flex;
  width: 40%;
  font-family: "Courier New", Courier, monospace;
}
#console {
  flex-basis: 100%;
  height: 850px;
  margin-top: 20px;
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 50px;
}
h1 {
  font-size: 30px;
  color: orangered;
  margin: 30px 20px 20px 50px;
  text-align: left;
}
.container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  float: left;
  padding: 0px 20px 20px 40px;
}
#controlPanel {
  display: block;
  float: right;
  width: 305px;
  height: 730px;
  margin: 0px 40px 20px 20px;
  background-color: powderblue;
}
#status {
  float: none;
  background-color: white;
  min-height: 1px;
  height: 50px;
  display: flex;
  font-size: 30px;
}
#money {
  flex-basis: 40px;
  height: 30px;
  vertical-align: middle;
}
#gems {
  flex-basis: 40px;
  height: 30px;
}
#health {
  flex-basis: 40px;
  height: 30px;
}
#score {
  flex-basis: 40px;
  height: 30px;
}

#bottom {
  display: block;
}

.square {
  height: 50px;
  flex-basis: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  border: 0.5px solid gray;
  margin: 0;
  padding: 0;
}
#valley {
  background-color: burlywood;
}
#endPt {
  background-color: burlywood;
}
#startPt {
  background-color: burlywood;
}
.lit {
  background-color: yellow;
}
.mob {
  position: absolute;
  display: inline-block;
  float: none;
  min-height: 1px;
  min-width: 1px;
  text-align: center;
}
.enemyHp {
  background-color: lightgreen;
  height: 4px;
  width: 22px;
  float: left;
}
.enemyLostHp {
  background-color: crimson;
  height: 4px;
  width: 0px;
  float: right;
}
.enemySprite {
  background-color: black;
  height: 12px;
  width: 12px;
  border-radius: 6px;
  margin: 8px 0px 0px 5px;
}
#selection {
  background-color: blue;
  border-color: red;
}
#build {
  height: 50px;
}
.towerRange {
  float: none;
  min-height: 1px;
  border: 1px solid lightgray;
  position: absolute;
  margin: 0;
  padding: 0;
  pointer-events: none;
}
.projectile {
  position: absolute;
  float: none;
  min-height: 1px;
  height: 7px;
  width: 7px;
  border-radius: 3.5px;
  background-color: black;
}
