body {
  margin: auto;
  display: flex;
  max-height: fit-content;
  width: fit-content;
  font-family: "Courier New", Courier, monospace;
}
p {
  text-align: left;
  margin: 20px;
  font-weight: bold;
}

#console {
  flex-basis: 100%;
  height: max-content;
  display: block;
  padding: 40px 60px;
  background-color: #93b7be;
  border: 1px solid black;
  border-radius: 50px;
  position: relative;
}

h1 {
  font-size: 40px;
  color: #785964;
  margin: 0 0 20px 10px;
  font-weight: bold;
  text-align: left;
}

#belowHeading {
  height: fit-content;
  display: flex;
  background-color: #93b7be;
  border-radius: 50px;
  position: relative;
}

#left {
  position: relative;
  width: min-content;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  float: left;
}

.container {
  flex-basis: 1;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  float: left;
}
#controlPanel {
  position: relative;
  display: block;
  float: right;
  width: 324px;
  height: 730px;
  margin: 0 0 0 40px;
  background-color: #f1fffa;
  text-align: center;
  border-radius: 30px;
}
#status {
  float: none;
  background-color: #d5c7bc;
  min-height: 1px;
  height: 122px;
  display: flex;
  font-size: 25px;
  font-weight: bold;
  border-radius: 10px;
}
#money,
#gems,
#health,
#score {
  text-align: center;
  flex-basis: 35px;
  height: 120px;
  padding: 0 2px;
  border: 0.5px solid black;
}
#money {
  border-radius: 10px 0 0 10px;
}
#score {
  border-radius: 0 10px 10px 0;
}
.statusThumbs {
  border-bottom: 0.5px solid black;
  border-radius: 10px;
}

#descriptions {
  float: none;
  min-height: 1px;
  width: 250px;
  height: 180px;
  padding: 20px;
  font-size: 20px;
  text-align: left;
  margin: 30px auto;
  background-color: #d5c7bc;
  border-radius: 20px;
}
#buildings {
  float: none;
  min-height: 1px;
  width: 280px;
  margin: 0px auto 70px auto;
  text-align: left;
}
#build {
  height: 55px;
  width: 55px;
  background-image: url(images/towerImg.jpg);
  border: 1px solid #7d4f50;
}
#buildCannon {
  height: 55px;
  width: 55px;
  background-image: url(images/cannonImg.png);
  border: 1px solid #7d4f50;
}

#research {
  float: none;
  min-height: 1px;
  width: 280px;
  margin: 0px auto 70px auto;
  text-align: left;
}
#interest {
  height: 55px;
  width: 55px;
  background-image: url(images/interestImg.png);
  border: 1px solid #7d4f50;
}
#cost {
  height: 55px;
  width: 55px;
  background-image: url(images/costDownImg.jpg);
  border: 1px solid #7d4f50;
}
#range {
  height: 55px;
  width: 55px;
  background-image: url(images/rangeUpImg.jpg);
  border: 1px solid #7d4f50;
}

#bottom {
  display: flex;
  width: 570px;
  height: 150px;
  margin: 30px 0 0 0;
  float: none;
  min-height: 1px;
  border-radius: 0 0 0 20px;
  background-color: #454545;
}
#display {
  float: none;
  min-height: 1px;
  width: 80%;
  margin: 10px;
  color: #f1fffa;
}
#buttonBox {
  display: block;
  width: 20%;
}
#start,
#pause {
  width: 100%;
  height: 50%;
  font-weight: bold;
}
.square {
  height: 50px;
  flex-basis: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #41521f;
  border: 0.5px solid #d5c7bc;
  margin: 0;
  padding: 0;
}
#valley {
  background-color: burlywood;
}
#endPt {
  background-color: burlywood;
}
#startPt {
  background-color: burlywood;
}
.lit {
  background-color: #cc5803;
}
.mob {
  position: absolute;
  display: inline-block;
  float: none;
  min-height: 1px;
  min-width: 1px;
  text-align: center;
}
.enemyHp {
  background-color: lightgreen;
  height: 4px;
  width: 22px;
  float: left;
}
.enemyLostHp {
  background-color: crimson;
  height: 4px;
  width: 0px;
  float: right;
}
.enemySprite {
  background-color: black;
  height: 12px;
  width: 12px;
  border-radius: 6px;
  margin: 8px 0px 0px 5px;
}
#selection {
  background-color: #4056f4;
  border-color: #dd1c1a;
}
.towerRange {
  float: none;
  min-height: 1px;
  border: 1px solid #cc5803;
  position: absolute;
  margin: 0;
  padding: 0;
  pointer-events: none;
}
.projectile {
  position: absolute;
  float: none;
  min-height: 1px;
  height: 7px;
  width: 7px;
  border-radius: 3.5px;
  background-color: black;
}
